Repository astroML/astroML, pull requests merged in 2018-11, with the labels that each got.

#85 Adds counter increment to prevent infinite loop upon rebin all zero case
  examples/datasets/compute_sdss_pca.py
Labels: data, docs

#128 Fixing numpy compatibility
  .travis.yml
  astroML/filters.py
Labels: incompatibility, refactoring

#125 GMM to GaussianMixture
  .gitignore
  .travis.yml
  CHANGES.rst
  README.rst
  astroML/classification/gmm_bayes.py
  astroML/clustering/mst_clustering.py
  astroML/density_estimation/gauss_mixture.py
  astroML/density_estimation/tests/test_density.py
  astroML/density_estimation/xdeconv.py
  doc/user_guide/installation.rst
  setup.py
Labels: refactoring

#133 Removing deprecated matplotlib API usage
  astroML/plotting/tools.py
Labels: plotting
