Repository astroML/astroML, pull requests merged in 2019-05, with the labels that each got.

#186 Updating for astropy 3.2 namespace changes
  astroML/time_series/periodogram.py
Labels: no-changelog-entry-needed, refactoring, upstream

#187 Changing name of column to reflext the name in the datafile
  astroML/datasets/LINEAR_sample.py
Labels: data, no-changelog-entry-needed

#188 Fix rc syntax for mpl 3.1
  astroML/plotting/settings.py
Labels: bug, merge-when-ci-passes, plotting

#174 Drop support for Python 2 and 3.4
  .travis.yml
  CHANGES.rst
  README.rst
  astroML/clustering/mst_clustering.py
  astroML/cosmology.py
  astroML/datasets/LIGO_bigdog.py
  astroML/datasets/LINEAR_sample.py
  astroML/datasets/dr7_quasar.py
  astroML/datasets/imaging_sample.py
  astroML/datasets/moving_objects.py
  astroML/datasets/nasa_atlas.py
  astroML/datasets/rrlyrae_mags.py
  astroML/datasets/rrlyrae_templates.py
  astroML/datasets/sdss_S82standards.py
  astroML/datasets/sdss_corrected_spectra.py
  astroML/datasets/sdss_filters.py
  astroML/datasets/sdss_galaxy_colors.py
  astroML/datasets/sdss_specgals.py
  astroML/datasets/sdss_spectrum.py
  astroML/datasets/sdss_sspp.py
  astroML/datasets/tools/download.py
  astroML/datasets/tools/sdss_fits.py
  astroML/datasets/tools/sql_query.py
  astroML/density_estimation/bayesian_blocks.py
  astroML/density_estimation/density_estimation.py
  astroML/density_estimation/empirical.py
  astroML/density_estimation/gauss_mixture.py
  astroML/density_estimation/histtools.py
  astroML/density_estimation/tests/test_hist_binwidth.py
  astroML/density_estimation/xdeconv.py
  astroML/fourier.py
  astroML/linear_model/kernel_regression.py
  astroML/linear_model/linear_regression.py
  astroML/plotting/multiaxes.py
  astroML/plotting/tests/test_devectorize.py
  astroML/plotting/tools.py
  astroML/py3k_compat.py
  astroML/stats/tests/test_stats.py
  astroML/tests/test_resample.py
  astroML/time_series/ACF.py
  astroML/time_series/periodogram.py
  astroML/utils/decorators.py
  doc/conf.py
  doc/sphinxext/example_builder.py
  doc/sphinxext/exfile.py
  doc/sphinxext/numpy_ext/__init__.py
  doc/sphinxext/numpy_ext/docscrape.py
  doc/sphinxext/numpy_ext/docscrape_sphinx.py
  doc/sphinxext/numpy_ext/numpydoc.py
  doc/user_guide/installation.rst
  examples/datasets/compute_sdss_pca.py
  examples/datasets/plot_LIGO_spectrum.py
  examples/datasets/plot_corrected_spectra.py
  examples/learning/plot_neighbors_photoz.py
  setup.py
Labels: merge-when-ci-passes, refactoring
